
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0; /* Set background color for the body */
    }

    .container {
        max-width: 1500px; /* Adjust the maximum width as needed */
        margin: 0 auto; /* Center the container horizontally */
        padding: 20px; /* Add padding for spacing */
    }

    .header {
        background-color: #FFA351;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0; /* Adjust padding to control header size */
        height: auto; /* Adjust height as needed */
        line-height: 0; /* Vertically center text */
    }
    .header-logo {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .header-logo img {
        max-width: 250px;
        max-height: 250px;
        margin-right: 10px;
        
    }

    .header h1 {
        margin: 0;
        padding: 10px 0;
    }

    .search-form {
        display: flex;
        align-items: center;
        padding: 10px; /* Adjust padding as needed */
        border-radius: 20px; /* Add rounded edges */
        background-color: #fff; /* Set background color for search bar */
    }

    .search-input {
        width: 200px; /* Adjust width as needed */
        padding: 8px; /* Adjust padding as needed */
        border: none;
        border-radius: 20px; /* Add rounded edges */
    }

    .search-button {
        padding: 10px 20px; /* Adjust padding as needed */
        border: none;
        border-radius: 20px; /* Add rounded edges */
        background-color: #FFA351;
        color: white;
        cursor: pointer;
    }

    .cart-link {
        display: flex;
        align-items: center;
    }

    .cart-image {
        width: 100px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
        margin-left: 10px; /* Add spacing between logo and cart image */
        margin-right: 20px; /* Adjust the right margin for positioning */
    }

    .subheader {
        background-color: #FBE27A;
        color: black;
        text-align: center;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 36px;
        width: 100%;
        z-index: 1000; /* Ensure the subheader is above other elements */
        transition: background-color 0.3s ease; /* Add smooth transition */
        position: relative; /* Required for sticky behavior */

    }

    .subheader.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    }

    .subheader a {
        color: black;
        text-decoration: none;
        margin: 0 10px;
        border-bottom: 1px solid transparent; /* Hide border by default */
        padding-bottom: 4px; /* Optional: Add padding for spacing */
        border-right: 0px solid #FFA351; /* Add a thin vertical line */
        padding-right: 20px; /* Add some spacing to the right of each category */
        
    }

    .subheader a:hover {
        border-bottom: 1px solid #00000000; /* Show border on hover */
        background-color: #f8d300; /* Change background color on hover */
        border-radius: 10px; /* Add rounded edge on hover */
    }

    .category-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .category {
        background-color: #f8d30000;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .item-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Add spacing between items */
    }

    .item-box {
    border: 4px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px;
    vertical-align: top;
    width: calc(15% - 10px);
    text-align: center;
    }

    .item-image {
    max-width: 100%; /* Adjust the image size to fit within the box */
    max-height: 120px; /* Adjust the image height */
    margin-bottom: 10px; /* Add spacing below the image */
    }

    .item-name {
    margin: 0; /* Remove margin for item name */
    }

    .item-description,
    .item-price,
    .item-stock {
        margin: 5px 0; /* Add small margin between other item details */
    }
    .subcategory-link {
        font-size: 32px; /* Adjust the font size as needed */
        font-weight: bold; /* Add bold font weight */
    }
    
    a {
    text-decoration: none; /* Remove underline */
    /* Additional styling if needed */
    }

    .banner-container {
        width: 100%;
        max-width: 1400px; /* Adjust the max width as needed */
        margin: 0 auto;
        padding: 20px; /* Add space on the sides */
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc; /* Add a 1px solid border at the bottom */
    }

    .banner-image {
        max-width: 100%;
        height: auto;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .category-dropdown {
        color: black;
        text-decoration: none;
        margin: 0 10px;
        border-bottom: 1px solid transparent;
        padding-bottom: 4px;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px; /* Adjust the font size as needed */
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
