/* Reset and base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    width: 100%;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
.header {
    background-color: #FFA351;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 5px 0;
    height: auto;
    line-height: 0;
}

.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-logo img {
    max-width: 250px;
    max-height: 250px;
    margin-right: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
}

.search-input {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 20px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #FFA351;
    color: white;
    cursor: pointer;
}

.cart-link {
    display: flex;
    align-items: center;
}

.cart-image {
    width: 100px;
    height: auto;
    margin-left: 10px;
    margin-right: 20px;
}

/* Subheader styles */
.subheader {
    background-color: #FBE27A;
    text-align: center;
    padding: 15px;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    position: relative;
}

.subheader.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.subheader a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
    border-right: 0px solid #FFA351;
    padding-right: 10px;
    font-size: 24px;
}

.subheader a:hover {
    border-bottom: 1px solid #00000000;
    background-color: #f8d300;
    border-radius: 10px;
}

/* Other styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.category-dropdown {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff2c0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.floating-search-bar {
    position: fixed;
    top: 80px;
    left: 20px;
    z-index: 1000;
    background-color: #FBE27A;
    border-radius: 20px;
    padding: 0px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.floating-search-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #FBE27A;
}

.floating-search-input {
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 20px;
}

.indent {
    text-indent: 20px; /* Adjust the value as needed */
}

a {
    text-decoration: none;
    color: #000000 ;
    transition: color 0.3s;
}

a:hover {
    color: #ff0000; /* Color when hovering */
}

.floating-cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.cart-image-float {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
}