/* Styling for star rating */
.star-rating {
    display: inline-block;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #FFA351;
}
