{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    

    <title>{% block title %}Your Online Store{% endblock %}</title>
</head>



<body>
    <div class="header">
        <div class="header-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'logo3.png' %}" alt="Logo">
            </a>
        </div>
        <form action="{% url 'search_items' %}" method="GET" class="search-form">
            <input type="text" name="query" class="search-input" placeholder="Search for items...">
            <button type="submit" class="search-button">Search</button>
        </form>

        <a href="{% url 'index' %}" class="home-icon">
            <img src="{% static 'home1.png' %}" alt="Home" class="home-image">
        </a>

                    <!-- --------------... CART ...-------------- --> 
        <a href="{% url 'cart' %}" class="cart-link">
            <img src="{% static 'cart1.png' %}" alt="Cart" class="cart-image">
        </a>

        
    </div>

                    <!-- --------------... SUB-HEADER ...-------------- -->
    <div class="subheader" id="subheader">
        {% for category in categories %}
            <div class="dropdown">
                <a href="{% url 'category_detail' category.id %}" class="category-dropdown">{{ category.name }} <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-content">
                    {% for subcategory in category.subcategory_set.all %}
                        <a href="{% url 'subcategory_detail' subcategory.id %}">{{ subcategory.name }}</a><br>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="floating-fb-button">
        <a href="https://www.facebook.com/profile.php?id=100095337263420">
            <img src="{% static 'fb.png' %}" alt="Facebook" class="fb-icon">
        </a>
    </div>
    <div class="floating-messenger-button">
        <a href="https://www.facebook.com/messages/t/streat.flavorites">
            <img src="{% static 'messenger.png' %}" alt="Facebook" class="messenger-icon">
        </a>
    </div>


        <div class="container">
            {% block content %}{% endblock %}
            <div class="recommended-items">
                <h3>Items that you might like: </h3>
                <div class="item-container">
                    {% for item in random_items %}
                        <div class="item-box">
                            {% if item.photo %}
                                <a href="{% url 'item_detail' item.id %}">
                                    <img src="{{ item.photo.url }}" alt="{{ item.name }} Photo" class="item-image">
                                </a>
                            {% endif %}
                            <h2><a href="{% url 'item_detail' item.id %}" class="item-name">{{ item.name }}</a></h2>
                            <!-- <p class="item-description">{{ item.description }}</p> -->
                            <p class="item-price">${{ item.price }}</p>
                            <p class="item-stock">Stocks: {{ item.stocks }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="floating-search-bar" id="floating-search-bar">
                <form action="{% url 'search_items' %}" method="get" class="floating-search-form">
                    <input type="text" name="query" placeholder="Search for items..." class="floating-search-input">
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
        
            <div class="floating-cart-button">
                <a href="{% url 'cart' %}">
                    <img src="{% static 'cart1.png' %}" alt="Cart" class="cart-image-float">
                </a>
            </div>
        
            <div class="floating-home-button">
                <a href="{% url 'index' %}">
                    <img src="{% static 'home1.png' %}" alt="Home" class="home-icon">
                </a>
            </div>
        
        </div>

    <div class="footer">
        <div class="footer-logo">
            <img src="{% static 'logo3.png' %}" alt="Logo">
        </div>
        <div class="footer-contact">
            <p>Contact us: sflavorites.host@gmail.com</p>
            <p>Phone: 603-233-8815</p>
        </div>
    </div>
    
    

    <script src="{% static 'js/floating-search.js' %}"></script>

    <script>
        window.onscroll = function() {stickySubheader()};
        
        var subheader = document.getElementById("subheader");
        var sticky = subheader.offsetTop;

        function stickySubheader() {
            if (window.pageYOffset > sticky) {
                subheader.classList.add("sticky");
            } else {
                subheader.classList.remove("sticky");
            }
        }
    </script>
    <script>
        const dropdownButtons = document.querySelectorAll('.category-dropdown');
        
        dropdownButtons.forEach(button => {
            button.addEventListener('click', () => {
                button.nextElementSibling.classList.toggle('show');
            });
        });

    </script>

</body>
</html>