{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">


    <title>{% block title %}Your Online Store{% endblock %}</title>
</head>



<body>
    <div class="header">
        <div class="header-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'logo1.png' %}" alt="Logo">
            </a>
        </div>
        <form action="{% url 'search_items' %}" method="GET" class="search-form">
            <input type="text" name="query" class="search-input" placeholder="Search for items...">
            <button type="submit" class="search-button">Search</button>
        </form>

        
        <a href="{% url 'cart' %}" class="cart-link">
            <img src="{% static 'cart1.png' %}" alt="Cart" class="cart-image">
        </a>
    </div>

    <div class="subheader" id="subheader">
        {% for category in categories %}
            <div class="dropdown">
                <a href="{% url 'category_detail' category.id %}" class="category-dropdown">{{ category.name }} </a>
                <div class="dropdown-content">
                    {% for subcategory in category.subcategory_set.all %}
                        <a href="{% url 'subcategory_detail' subcategory.id %}">{{ subcategory.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

<script>
    window.onscroll = function() {stickySubheader()};
    
    var subheader = document.getElementById("subheader");
    var sticky = subheader.offsetTop;

    function stickySubheader() {
        if (window.pageYOffset > sticky) {
            subheader.classList.add("sticky");
        } else {
            subheader.classList.remove("sticky");
        }
    }
</script>
<script>
    const dropdownButtons = document.querySelectorAll('.category-dropdown');
    
    dropdownButtons.forEach(button => {
        button.addEventListener('click', () => {
            button.nextElementSibling.classList.toggle('show');
        });
    });

</script>

</body>
</html>
