{% extends 'base.html' %}

{% block title %}Home - Your Online Store{% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/cart_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/item_box.css' %}">

    <h1>Your Cart</h1><br>
    {% if cart_items %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th width="300px">Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>





                {% for cart_item in cart_items %}
                    <tr class="cart-item">
                        <td class="cart-item-image">
                            {% if cart_item.item.photo %}
                                <a href="{% url 'item_detail' cart_item.item.id %}">
                                    <img src="{{ cart_item.item.photo.url }}" alt="{{ cart_item.item.name }} Photo" style="max-width: 50px; max-height: 50px;">
                                </a>
                            {% endif %}
                        </td>
                        <td class="cart-item-description">
                            <h><a href="{% url 'item_detail' cart_item.item.id %}">{{ cart_item.item.name }}</a></h>
                        </td>
                        <td class="cart-item-price">${{ cart_item.item.price }}</td>
                        <td class="cart-item-quantity">
                            <form method="post" action="{% url 'adjust_cart' cart_item.id %}" class="adjust-quantity-form">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1" max="{{ cart_item.item.stocks }}" style="width: 40px;">
                                <button type="submit" class="adjust-quantity-button">Adjust</button>
                            </form>
                        </td>
                        <td class="cart-item-total">${{ cart_item.total }}</td>
                        <td class="cart-item-remove">
                            <a href="{% url 'remove_from_cart' cart_item.id %}">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><br>


        <p class="sub-total">Sub Total: ${{ total_price }}</p>
        <p class="sub-total">Estimated Total Weight: {{ total_weight }} grams</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    <br>
    <div class="cart-buttons">
        {% if cart_items %}
            <a href="{% url 'checkout' %}" class="action-button">Proceed to Checkout</a><br><br>
        {% endif %}
            <a href="{% url 'index' %}" class="action-button">Continue Shopping</a>
    </div>
    <br>
    <hr class="separator-line"> 
    <br>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        // Attach submit event listeners to "Adjust Quantity" forms
        const adjustQuantityForms = document.querySelectorAll('.adjust-quantity-form');
        adjustQuantityForms.forEach(form => {
            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                
                try {
                    const formData = new FormData(form);
                    const response = await fetch(form.action, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        body: formData,
                    });
                    
                    if (response.ok) {
                        await Swal.fire({
                            icon: 'success',
                            title: 'Quantity Adjusted',
                            text: 'The quantity of the item has been adjusted.',
                        }).then(() => {
                            location.reload();
                        });
                    } else {
                        console.error('Error adjusting quantity:', response.statusText);
                    }
                } catch (error) {
                    console.error('Error adjusting quantity:', error);
                }
            });
        });
    </script>
{% endblock %}
