{% extends 'base.html' %}

{% block title %}Home - Your Online Store{% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/cart_styles.css' %}">
    <h1>Your Cart</h1>
    
    {% if cart_items %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> <!-- Empty column for spacing -->
                    <th>Product</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> <!-- Empty column for spacing -->
                    <th>Price</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> <!-- Empty column for spacing -->
                    <th>Quantity</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> <!-- Empty column for spacing -->
                    <th>Total</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th> <!-- Empty column for spacing -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr class="cart-item">
                        <td class="item-image">
                            {% if item.item.photo %}
                                <img src="{{ item.item.photo.url }}" alt="{{ item.item.name }} Photo" style="max-width: 50px; max-height: 50px;">
                            {% endif %}
                        </td>
                        <td></td> <!-- Empty column for spacing -->
                        <td class="item-description">
                            <h2><a href="{% url 'item_detail' item.id %}">{{ item.item.name }}</a></h2>
                            <p>{{ item.item.description }}</p>
                        </td>
                        <td></td> <!-- Empty column for spacing -->
                        <td class="item-price">${{ item.item.price }}</td>
                        <td></td> <!-- Empty column for spacing -->
                        <td class="item-quantity">
                            <form method="post" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.item.stocks }}">
                                <button type="submit" class="adjust-quantity-button">Adjust</button>
                            </form>
                        </td>
                        <td></td> <!-- Empty column for spacing -->
                        <td class="item-total">${{ item.total }}</td>
                        <td></td> <!-- Empty column for spacing -->
                        <td class="item-remove">
                            <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
                        </td>
                        <td></td> <!-- Empty column for spacing -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="sub-total">Sub Total: ${{ total_price }}</p>
        <p class="sub-total">Estimated Total Weight: {{ total_weight }} grams</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
    <br>
    <div class="cart-buttons">
        <a href="{% url 'checkout' %}" class="action-button">Proceed to Checkout</a><br><br>
        <a href="{% url 'index' %}" class="action-button">Continue Shopping</a>
    </div>
{% endblock %}
