{% extends 'base.html' %}

{% load static %}

{% block title %}Category Detail - Your Online Store{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/item_box.css' %}">

        <div class="category-container">
            <div class="category">
                <h2>{{ category.name }}</h2>
                <ul class="subcategory-list">
                    {% for subcategory in subcategories %}
                        <div class="subcategory">
                            <h3><a href="{% url 'subcategory_detail' subcategory.id %}" class="subcategory-link">{{ subcategory.name }}</a></h3>
                            <ul class="item-list">
                                <div class="item-container">
                                    {% for item in items %}
                                        {% if item.subcategory == subcategory %}
                                            <div class="item-box">
                                                {% if item.photo %}
                                                    <a href="{% url 'item_detail' item.id %}">
                                                        <img src="{{ item.photo.url }}" alt="{{ item.name }} Photo" class="item-image">
                                                    </a>
                                                {% endif %}
                                                <h4><a href="{% url 'item_detail' item.id %}" class="item-name">{{ item.name }}</a></h4>
                                                <p class="item-price">${{ item.price }}</p>
                                                <p class="item-stock">Stocks: {{ item.stocks }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </ul>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <br><hr class="separator-line"> <br>
{% endblock %}
