{% extends 'base.html' %}

{% load static %}

{% block title %}Home - Your Online Store{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/item_box.css' %}">

<div class="banner-container">
        {% for banner in banners %}
            <div class="banner-item">
                <a href="{{ banner.url }}">
                <img src="{{ banner.image.url }}" alt="{{ banner.title }}" class="banner-image"> </a>
                <!-- <h2>{{ banner.title }}</h2> 
                 <p>{{ banner.description }}</p> -->
            </div>
        {% endfor %}
</div>

<hr class="separator-line"> 

<h1>Welcome to StrEAT Flavorites Mini-Online Store</h1>

<div class="category-container">
    <div class="category">
        <h2 style="font-size: 30px;"> Most Liked Items </h2>
        <div class="item-container">
            {% for item in top_liked_items %}
                <div class="item-box">
                    {% if item.photo %}
                        <a href="{% url 'item_detail' item.id %}">
                            <img src="{{ item.photo.url }}" alt="{{ item.name }} Photo" class="item-image">
                        </a>
                    {% endif %}
                    <h2><a href="{% url 'item_detail' item.id %}" class="item-name">{{ item.name }}</a></h2>
                    <p class="item-price">${{ item.price }}</p>
                    <p class="item-stock">Stocks: {{ item.stocks }}</p>
                 </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr class="separator-line"> 
<div class="category-container">
    {% for category in categories %}
        <div class="category">
            <h2><a href="{% url 'category_detail' category.id %}" style="font-size: 30px;" class="categ">{{ category.name }}</a></h2>
            <ul class="subcategory-list">
                {% for subcategory in category.subcategory_set.all %}
                    <div class="subcategory">
                        
                        <div class="indent"><h3><a href="{% url 'subcategory_detail' subcategory.id %}" class="subcategory-link" style="font-size: 20px;">{{ subcategory.name }}</a></h3> </div>
                        <ul class="item-list">
                            <div class="item-container">
                                {% for item in subcategory.item_set.all|slice:":6" %}
                                    <div class="item-box">
                                        {% if item.photo %}
                                            <a href="{% url 'item_detail' item.id %}">
                                                <img src="{{ item.photo.url }}" alt="{{ item.name }} Photo" class="item-image">
                                            </a>
                                        {% endif %}
                                        <h2><a href="{% url 'item_detail' item.id %}" class="item-name">{{ item.name }}</a></h2>
                                        <p class="item-price">${{ item.price }}</p>
                                        <p class="item-stock">Stocks: {{ item.stocks }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </ul>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <br><hr class="separator-line"> <br>
    {% endfor %}
</div>

{% endblock %}
