{% extends 'base.html' %}

{% block title %}Home - Your Online Store{% endblock %}

{% block content %}
    <h1>{{ item.name }}</h1>
    <p>Description: {{ item.description }}</p>
    <p>Price: ${{ item.price }}</p>
    <p>Stocks: {{ item.stocks }}</p>
    <p>Subcategory: {{ item.subcategory.name }}</p>
    <p>Category: {{ item.subcategory.category.name }}</p>
    <form method="post" action="{% url 'add_to_cart' item.id %}">
        {% csrf_token %}
        Quantity: <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Add to Cart</button>
    </form>
    <p>Likes: <span id="like-count">{{ item.likes }}</span></p>

    <button id="like-button" data-item-id="{{ item.id }}">Like</button>

    <script>
        const likeButton = document.getElementById('like-button');
        const likeCount = document.getElementById('like-count');
        
        likeButton.addEventListener('click', () => {
            const itemId = likeButton.getAttribute('data-item-id');
            fetch(`/like_item/${itemId}/`)
                .then(response => response.json())
                .then(data => {
                    likeCount.textContent = data.likes;
                });
        });
    </script>
    {% endblock %}
