{% extends 'base.html' %}

{% load static %}

{% block title %}Order Completed - StrEAT Flavorites{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/order_completed.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <h2>Thank You for Your Order!</h2><br>
    <p>Your order has been placed successfully.</p>
    <p>We have sent the summary of your order to your email.</p>
    <br>
    <p>Please leave a review including the star rating based</p>
    <p>on your experience in shopping with us.</p>
    <br>

    <h3>Leave a Review</h3>
    <form id="review-form" method="post" action="{% url 'save_review' %}">
        {% csrf_token %}
        <textarea name="review" rows="4" cols="50" placeholder="Leave a review"></textarea>
        <div class="star-rating">
            <input type="radio" name="rating" value="1" id="1star"><label for="1star"><i class="fas fa-star"></i></label>
            <input type="radio" name="rating" value="2" id="2stars"><label for="2stars"><i class="fas fa-star"></i></label>
            <input type="radio" name="rating" value="3" id="3stars"><label for="3stars"><i class="fas fa-star"></i></label>
            <input type="radio" name="rating" value="4" id="4stars"><label for="4stars"><i class="fas fa-star"></i></label>
            <input type="radio" name="rating" value="5" id="5stars"><label for="5stars"><i class="fas fa-star"></i></label>
        </div>
        <button type="submit">Submit Review</button>
    </form>

    
    <br>
    <div class="checkout-container"></div>
        <div class="announcement-box">
            <h3>IMPORTANT ANNOUNCEMENT</h3>
            <p>{{ announcement|linebreaksbr }}</p>
        </div>
    </div>

    <script>
        const reviewForm = document.getElementById('review-form');
        reviewForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            try {
                const formData = new FormData(reviewForm);
                const response = await fetch(reviewForm.action, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: formData,
                });

                if (response.ok) {
                    await Swal.fire({
                        icon: 'success',
                        title: 'Review Submitted',
                        text: 'Thank you for your review. You will be redirected to our home page.',
                    });

                    // Redirect to the home page after the alert is closed
                    window.location.href = "{% url 'index' %}"; // Replace with your actual home page URL
                } else {
                    console.error('Error submitting review:', response.statusText);
                }
            } catch (error) {
                console.error('Error submitting review:', error);
            }
        });
    </script>
{% endblock %}