{% extends 'base.html' %}
{% load static %}

{% block title %}Reviews{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/item_details_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/item_box.css' %}">

    <h2>Reviews</h2>
    <div class="review-list">
        {% for review in reviews %}
            <div class="review">
                <h3>{{ review.user.username }}</h3>
                <p>{{ review.review_text }}</p>
                <br>
            </div>
        {% empty %}
            <p>No reviews available.</p>
        {% endfor %}
    </div>
    <br>
{% endblock %}
