{% extends 'base.html' %}

{% block title %}Home - Your Online Store{% endblock %}

{% block content %}
    <h1>{{ subcategory.name }}</h1>
    <p>Category: {{ subcategory.category.name }}</p>
    
    <h2>Items:</h2>
    <ul>
        {% for item in items %}
            <li><a href="{% url 'item_detail' item.id %}">{{ item.name }}</a> - {{ item.description }} - Price: ${{ item.price }} - Stocks: {{ item.stocks }}</li>
            <a href="{% url 'add_to_cart' item.id %}">Add to Cart</a>
        {% endfor %}
    </ul>
    {% endblock %}
